@use "../../styles/variables" as *;

.mobile-menu {
  min-width: 200px;
  max-width: calc(100vw - 32px);
  background-color: $primary-0;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25) !important;
  @media (min-width: 375px) {
    min-width: 240px;
  }

  .p-menu-list {
    padding: 0.5rem 0;
  }

  .p-menuitem {
    .p-menuitem-link {
      padding: 0.75rem 0.2rem;
      border-radius: 8px;
      margin: 0.125rem 0.5rem;
      transition: all 0.2s ease;
      .p-menuitem-text {
        color: $complement-4;
      }
      &:hover,
      &:active,
      &:focus {
        background-color: $primary-3;
        color: $complement-0;
      }
      .p-menuitem-content:hover {
        background-color: transparent !important;
      }
      &:focus {
        background-color: $primary-3;
        color: $complement-0;
        box-shadow: none;
        outline: 2px solid $complement-3;
        outline-offset: 2px;
      }

      &.p-menuitem-active {
        background-color: $primary-3;
        color: $complement-0;
        padding: 0;
      }
    }

    // Fix for p-focus class applied to p-menuitem element
    &.p-focus {
      .p-menuitem-link {
        background-color: $primary-3 !important;
        color: $complement-0 !important;
        box-shadow: none;
        outline: 2px solid $complement-3;
        outline-offset: 2px;
      }
    }
  }
}

@media (min-width: 769px) {
  .mobile-menu-container {
    display: none;
  }
}
