@use "../styles/variables" as *;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.errorText {
  color: red;
  margin-top: 32px;
}

.retryButton {
  margin-top: 16px;
}

.title {
  margin-top: 32px;
  margin-bottom: 16px;
}

.sectionTitle {
  margin-top: 16px;
  margin-bottom: 16px;
}

.sectionTitleLarge {
  margin-top: 32px;
  margin-bottom: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(16px);
  border-radius: 16px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.26);
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.25);
  }

  :global(.p-card-body) {
    padding: 14px 16px 16px;
  }

  :global(.p-card-content) {
    padding: 0;
  }
}

.cardContent {
  flex-grow: 1;
  padding: 12px;
}

.cardTitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}

.cardDescription {
  color: $complement-1;
  margin-top: 8px;
  margin-bottom: 0;
}

