.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.noCompanies {
  margin-top: 32px;
}

.filters {
  margin-top: 16px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.filterItem {
  min-width: 280px;
  flex: 1;
}

.itemsPerPageDropdown {
  min-width: 120px;
  margin-left: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  margin-top: 16px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cardContent {
  flex-grow: 1;
  padding: 16px;
}

.cardTitle {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.cardSubtitle {
  color: #666;
  margin-top: 8px;
  margin-bottom: 0;
}

.cardActions {
  padding: 16px;
}

.viewDetailsButton {
  width: 100%;
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

