@import "../styles/variables";

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 64px 16px;
  text-align: center;
}

.title {
  margin-bottom: 16px;
}

.description {
  font-size: 1.25rem;
  color: $complement-1;
  margin-bottom: 32px;
}

.buttons {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.button {
  width: 200px;
}

