.container {
  max-width: 500px;
  margin: 32px auto;
  padding: 0 16px;
}

.errorMessage {
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  width: 100%;
}

.passwordInput {
  width: 100%;
}

.submitButton {
  width: 100%;
  margin-top: 24px;
}

