@use "../styles/variables" as *;

.favouriteButton {
  color: $complement-1;
  
  &:hover {
    color: #dc3545; // red on hover
  }

  &.favourite {
    color: #dc3545; // red when favourited
    
    &:hover {
      color: #c82333; // darker red on hover
    }
  }
}

