@import "../styles/variables";

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.pattern {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(0.5px); // Slight blur for softer appearance
  
  svg {
    width: 100%;
    height: 100%;
    display: block;
    user-select: none;
    -webkit-user-drag: none;
  }
}

