@import "../styles/variables";

.layout-menubar {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  background-color: $primary-2; // Using primary-2 color variable
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
  transition: all 0.3s ease;

  &.scrolled {
    box-shadow: $shadow-lg;
    background-color: rgba(
      red($primary-2),
      green($primary-2),
      blue($primary-2),
      0.8
    );
    backdrop-filter: blur(10px);
  }
}

.expat-logo {
  filter: brightness(80%);
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: $primary-4;
}

.main {
  height: 100%;
  min-height: 100vh;
  padding-top: 45px;
}

@media (max-width: 768px) {
  .hidden.md\\:flex {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .hidden.md\\:flex {
    display: flex !important;
  }
}
