.startLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: 20px;
  margin-right: 8px;
}

.end {
  display: flex;
  align-items: center;
  gap: 4px;
  
  @media (min-width: 375px) {
    gap: 8px;
  }
}

@import "../styles/variables";

.footer {
  padding: 24px 16px;
  margin-top: auto;
  background-color: $primary-0;
  width: 100%;
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
}

.footerText {
  text-align: center;
  color: $complement-4;
  margin: 0;
  font-size: 0.875rem;
}

.desktopNavButtons {
  display: flex;
  gap: 8px;
}
